.logo {
  position: absolute;
  width: 150px;
  margin-top: 5px;
}

.navigation {
  list-style: none;
  margin: 0; 
  
  background: #3D3D3D;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #aaa;
}

.navigation a:hover {
  color: white;
}

.muneBtn {
  display: none;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .logo {
    position: absolute;
    width: 150px;
    left: 50%;
    margin-left: -75px;
  }
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 50px 0 0 0 ;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .muneBtn {
    display: block;
    width: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .muneBtn img {
    width: 100%;
  }
}