ul {
	list-style: none;
}
li {
    overflow: hidden;
    padding: 10px;
}


.avatar {
	float: left;
}

.avatar img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 2px;
}

.reply-view {
    float: left;
    width: 70px;
    text-align: center;
    font-size: 12px;
    margin: 9px 0 0 20px;
}

.tag {
    float: left;
    margin-top: 7px;
    font-size: 12px;
    color: #999;
    background: #e5e5e5;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: 500; 
}

.top, .good {
    background: #80bd01;
    color: #fff;
}

.title {
    float: left;
    display: inline-block;
    width: calc(100% - 230px);
    margin: 6px 0 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}


@media all and (max-width: 1000px) {
    .reply-view {
        display: none;
    }

    li {
        margin-left: -40px;
    }


    .tag {
        margin-left: 7px;
    }

    .title {
        width: calc(100% - 100px);
    }
}