.goTop {
  position: fixed;
  writing-mode: vertical-rl;
  right: 15px;
  bottom: 10%;
  background-color: #EFEFEF;
  color: #666;
  padding: 20px 15px 20px 0;
  border: 1px solid #666;
  border-radius: 15px;
}
